<%= form_for(@post, :html => {:multipart => true}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>              
  <div class="field">
  	<%= f.file_field :picture %>
  </div>     
  
  <div class="field">  
	<ul>   
	<% @categories.each do |category| %>
		<li>
			<%= check_box_tag "post[category_ids][]", category.id, @post.categories.include?(category) %>
			<%= category.name %>
			
		</li>
	<% end %>
	</ul>
	
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
