<div id="navigation">
<% if user_signed_in? %>
	Zalogowany jako <%= current_user.email %>. 
	<%= link_to "Wyloguj się", destroy_user_session_path, :method => :delete %>       	
<% else %>        
	<%= link_to "Zaloguj się", login_path %>, <%= link_to "Zaloguj z Facebook", user_omniauth_authorize_path(:facebook) %> 
	lub <%= link_to "Załóż konto", signup_path %>
<% end %>
</div>